* {
  color: #FDFDFD;
  font-family: ROBOTO, Arial, sans-serif;
}

body {
  background: #031506; 
  background-image: url("./Images/oceanhero.jpg");
  background-repeat: repeat;
}



a h1 {
  color: #FDFDFD;
  padding: 20px 0;
  letter-spacing: 10px; 
}


h1 {
  margin-top: 10%;
  font-weight: normal;
}



.search-box {
  margin: auto;
  margin-bottom: 50px;
  max-width: 500px;
}

input[class="form-control"] {
  background: #FDFDFD;
  border-radius: 5px; 
  font-size: 2em;
  height: 50px;
  margin-bottom: 1em;
  text-align: center;
}

input[class="form-control"]:focus {
  border: 0.1em solid rgb(26, 188, 156); 
}




.buttons {
  margin-top: 1em;
  /*border: 2px solid white;*/
}


/*search button*/
.btn {
  color: #FDFDFD;
  background: #F89A67;
  font-size: 1.5em;
  margin-right: 10px;
  padding: 10px 10px;
}


/*Random article button*/
.btn:nth-of-type(2) {
  background: #1abc9c;
}


.btn:nth-of-type(2):hover {
  background: #e6e6e6;
}


.btn, .btn:hover {
  border-style: none;
}





/*search result styling*/
ol {
  margin-top: 20px;
  display: block;
  clear: both;
  overflow: hidden;
}

ol li {
  display: block;
  background: #FDFDFD;
  list-style: none;
  padding: 10px;
  margin-bottom: 1em;
  box-shadow: 
   1px 1px 0 rgb(28, 156, 188),
   2px 2px 0 rgb(22, 160, 156),
   3px 3px 0 rgb(22, 160, 133),
   4px 4px 0 rgb(22, 160, 133),
   5px 5px 0 rgb(22, 160, 133),
   6px 6px 0 rgb(22, 160, 133),
   7px 7px 0 rgb(22, 160, 133);
}


/* RESULTS */
ol li a {
  display: inline-block;
  background: #F89A67;
  padding: 20px;
  margin-bottom: 10px;
  text-decoration: none; 
  letter-spacing: 3px; 
  color: white; 
  font-size: 20px;
}


ol li p {
  color: #555;
  font-size: 1.2em;
  letter-spacing: 1px; 
}


.no-result {
  margin: 5em auto;
  max-width: 200px;
  text-align: center;
  align-items: center;
}

.no-result p {
  margin: 0;
}

/* MEDIA QUERIES */

@media (max-width: 600px) {
  .search-box {
    margin-top: 5em;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .search-box {
    margin-top: 5em;
  }
}

@media (min-width: 801px) and (max-width: 990px) {
  .search-box {
    margin-top: 5em;
  }
}




